#main {
    background-color: thistle;
    margin: 80px;
    padding: 30px;
    width: 800px;
}

body {
    display: flex;
    justify-content: center;
}

p {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: aquamarine;
}

nav {
    background-color: darkcyan;
}