@media screen and (min-width: 1001px) {
    #main {
        margin: 80px 0px 20px 0px;
        padding: 0px;
        width: 1000px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px #c0c0c0;
        border: 1px solid #83460d;
    }

    .dropdown:hover {
        top: 165px;
    }

    nav {
        height: 43px;
    }

    body {
        font-size: 1.2em;
    }

    .site-nav p {
        margin: 0px 20px 0px 0px;
    }

}

@media screen and (max-width: 1000px) {
    #main {
        width: 100vw;
        border-radius: 0px;
        margin: 0px;
        border: none;
    }

    header {
        border-radius: 0px;
    }

    nav {
        flex-direction: column;
        height: auto;
    }

    .site-nav {
        align-items: start;
    }

    .site-nav p {
        margin: 0px 0px 5px 0px;
    }
}

#alternative-worlds-img {
    max-width: 800px;
    width: 80vw;
}

#cat-great-img {
    max-width: 800px;
    width: 80vw;

}

figcaption {
    margin-top: 10px
}

img {
    max-height: 80vh;
    max-width: 300px;
    transition: all 0.5s ease;
}

.yt-player {
    margin-top: 30px;
    width: 100%;
    aspect-ratio: 16/9;
}

#yt-link-info::first-letter {
    font-size: 1em;
    font-weight: normal;

}

#main {
    background-color: #fffaf1;
}

.gallery-button:active img,
.gallery-button:focus img {
    position: relative;
    max-width: 50vw;
    max-height: 80vh;
    transition: all 0.5s ease;
}

.gallery-button {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

.site-nav p::first-letter {
    font-size: 1em;
    font-weight: normal;
}

header {
    background-color: #f0e1c0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#back-to-top {
    display: block;
    text-decoration: none;
    color: #856b33;
    background-color: #fffaf1;
    padding: 0px 0px 20px 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 30px 30px 30px;
    padding: 30px;
    background-color: #fffaf1;
}

.gallery p {
    margin-bottom: 30px;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gallery-card {
    max-height: 400px;
    width: 300px;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

p {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

h2 {
    margin-top: 0px;
}

nav {
    background-color: #dbc9a3;
    width: 100%;
    font-family: "Young Serif", serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #83460d;
    border-bottom: 1px solid #83460d;

}

footer {
    background-color: #f0e1c0;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #83460d;
}

.dropdown-trigger {
    padding: 10px 0px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #83460d;
}

.navElement {
    text-decoration: none;
    color: black;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

.navElement:hover {
    background-color: #f0e1c0;
}

article,
.gallery-intro {
    padding: 30px;
    background-color: #fffaf1;
}

.dropdown {
    position: relative;
    padding: 0px;
}

.nav-dropdown-content {
    display: none;
    position: relative;
}



.dropdown:hover .nav-dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-nav-element {
    background-color: #f0e1c0;
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

#background {
    margin: 0px;
}

.site-nav {
    color: #856b33;
    font-size: 15px;
    background-color: #fffaf1;
    border: none;
    justify-content: start;
    padding: 30px 30px 0px 30px;
    width: auto;
}

.site-nav-element {
    text-decoration: none;
    padding: 0px;
    color: #856b33;
    margin: 0px 10px 0px 0px;
}